html{
	width: 100%;
}

h1{
	color: white;
}

h2{
	color: white;
}

.main{
	background-color: black;
	text-align: center;
	width: 100%;
	padding: 10px;
}

 .box{
 	width: 20%;
 	background-color: lightgray;
 	float: left;
 }

 #encabezados{
 	background-color: white;
 	overflow: auto;
 	text-align: center;
 }